{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true
    },
    "rules": {
        // enable additional rules
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}